* {
  padding: 0;
  margin: 0;
}

#header {
  background-image: url(img/mainvisual.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 80px;
  position: relative;
}

#header .site-title {
  position: absolute;
  top: 30px;
  right: 30px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}

.sec-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

#magazine {
  text-align: center;
  margin-bottom: 80px;
}

#magazine .flex-item {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

#magazine .flex-item .item {
  width: 49%;
}



#fashion{
  background-image: url(img/fashion.jpg);
  height: 520px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 80px;
}

.btn {
  color: #2a2a2a;
  border: solid 1px #2a2a2a;
  display: inline-block;
  font-size: 0.750rem;
  padding: 14px 36px;
  margin-top: 30px;
}


.catalog-antique {
  background-color: #f5f5f5;
  padding: 60px 0;
}

.catalog-antique .flex-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-antique .item {
  width: 48%;
  text-align: center;
}

.catalog-antique .item p {
  margin-bottom: 30px;
  text-align: left;
}

#footer {
  background-color: #333;
  font-size: 0.750rem;
}

#footer .flex-item {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

#footer .item:first-child {
  padding: 60px 0;
}

#footer .item {
  width: 33%;
  line-height: 2;
}

li {
  list-style: none;
}

#footer .item .title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#footer .copyright {
  background-color: #fff;
  text-align: center;
  padding: 30px 0;
}