* {
  padding: 0;
  margin: 0;
}

#header {
  background-image: url(img/mainvisual.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 80px;
  position: relative;
}

#header .site-title {
  position: absolute;
  top: 30px;
  right: 30px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}

.sec-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

#magazine {
  text-align: center;
  margin-bottom: 80px;
}

#magazine .flex-item {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

#magazine .flex-item .item {
  width: 49%;
}



#fashion{
  background-image: url(img/fashion.jpg);
  height: 520px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 80px;
}

.btn {
  color: #2a2a2a;
  border: solid 1px #2a2a2a;
  display: inline-block;
  font-size: 0.750rem;
  padding: 14px 36px;
  margin-top: 30px;
}